.faq-section {
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
  background: white;
}

.faq-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  z-index: 1;
}

.faq-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: 600;
  font-family: var(--font-philosopher);
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.faq-item {
  background: white;
  border-radius: 8px;
  /* padding: 1.5rem; */
  padding: 18px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.faq-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.faq-icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  min-width: 24px;
  text-align: center;
  color: var(--primary-blue);
}

.faq-item.expanded .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  /* margin-top: 1rem;
  padding-top: 1rem; */
  /* margin-top: 5px; */
  padding-top: 5px;
  border-top: 1px solid #ccc;
  /* line-height: 1.6; */
  color: #666;
}

.faq-answer p {
  margin: 0.5rem 0;
}

.faq-answer p:first-child {
  margin-top: 0;
}

.faq-answer p:last-child {
  margin-bottom: 0;
}

.faq-view-all {
  text-align: center;
  margin-top: 2rem;
}

.faq-view-all-link {
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: var(--primary-blue);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.faq-view-all-link:hover {
  background-color: var(--primary-dark-blue);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.show-more-btn {
  display: block;
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 768px) {
  .faq-section {
    padding: 3rem 0;
  }

  .faq-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .faq-item {
    padding: 1rem;
  }

  .faq-question {
    font-size: 1rem;
  }

  .show-more-btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }
} 